# High-level development/testing dependencies
# Run 'pip-compile --allow-unsafe' to generate requirements-dev.txt

-r requirements.in

pytest>=9.0.3
pytest-asyncio>=1.2
pip>=26.2
pip-tools>=7.6.1
ruff
pip-audit
setuptools
