# High-level production dependencies
# Run 'pip-compile' to generate requirements.txt

openai
aisuite==0.1.14
python-dotenv
PyYAML
GitPython>=3.1.55
httpx
tiktoken
tqdm
python-slugify
requests
aiolimiter
jsonschema
